<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handing Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Отметьте тех подписчиков, которых Вы больше не хотите видеть в своей ленте</h1>
<form action="#" th:action="@{/oldSubs}" th:object="${filter}" method="post">
    <tr th:each="name, iterStat : ${subs}">
        <td th:text="${iterStat.count}"></td>
        <td th:text="${name}">Screen name</td>
        <p><input type="checkbox" th:field="*{checkedItems}" th:value="${name}" /></p>
    </tr>
    <input type="submit" text="Add checked" />
</form>
</body>
</html>