<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handing Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div class="row">
<h1>Отметье подписки, которые хотите добавить в текущую фильтрацию</h1>
<form action="#" th:action="@{/processForm}" th:object="${filter}" method="post">
    <!--<tr th:each="name, iterStat : ${subs}">-->
    <!--<td th:text="${iterStat.count}"></td>-->
    <!--<td th:text="${name}">Screen name</td>-->
    <!--<p><input type="checkbox" th:field="*{checkedItems}" th:value="${name}" /></p>-->
    <!--</tr>-->
    <div class="custom-control custom-checkbox" th:each="name, iterStat : ${subs}">
        <input type="checkbox" class="custom-control-input" th:field="*{checkedItems}" th:value="${name}">
        <label class="custom-control-label" th:text="${name}">Default unchecked</label>
    </div>
    <input type="submit" text="Add checked" />
</form>
    </div><!-- /.row -->
</div>
</body>
</html>