<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Home</title>
</head>
<body>
<h1>Welcome, <strong th:text="${name}"></strong></h1>

<p>Click <a th:href="@{/}">here</a> to see the Twitter module</p>
<p>Click <a th:href="@{/}">here</a> to see the Vkontakte module</p>
<p>Click <a th:href="@{/}">here</a> to see the Facebook module</p>
<p>Click <a th:href="@{/instagram}">here</a> to see the Instagram module</p>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
</body>
</html>