<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Home</title>
</head>
<body>
<h1>Welcome, <strong th:text="${name}"></strong></h1>

<p>Click <a th:href="@{/newInstagramProfile}">here</a> to add new Instagram account</p>
<p>Click <a th:href="@{/changeNick}">here</a> to change the account nick</p>
<p>Click <a th:href="@{/filter}">here</a> to change the subscribers filtration</p>
<p>Click <a th:href="@{/tape}">here</a> to see the tape</p>
<p>Click <a th:href="@{/oldSubs}">here</a> to change current subscriptions</p>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
</body>
</html>