<!DOCTYPE html>
<!--Шаблон для HTML файлов, вклчает Bootstrap и jQuery-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sample</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="blockquote text-left">
                <span style="color: #17a2b8">Aggregator</span>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="blockquote text-right">
                <form action="#" method="post">
                    <button type="button" onclick="" class="btn btn-info mb-2">Account</button>
                </form>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-6">
            <select id="winid"  class="form-control" onchange="changeWindow();" >
                <option value="filter">filter</option>
                <option value="1">Twitter</option>
                <option value="2">Vk</option>
                <option value="3">Instagram</option>
            </select>
        </div>

        <div class="col-sm-6">
            <form action="#" method="post">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8">
                            <input type="text" id="ws" class="form-control" name="worksearch" placeholder="insert search string"/>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" onclick="" class="btn btn-info mb-2">Search</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!-- div для постов -->

    <th:block th:each="post : ${posts}">

        <h2 th:text="${post.getOwner().getName()}">Name</h2>
        <div class="card" style="width: 18rem;">
            <img th:src="" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                <h2 th:text="${post.getText()}">Text</h2>
                </p>
            </div>
        </div>
        <tr>
            <td th:text="${#dates.format(post.getTimestamp(), 'dd-MMM-yyyy')}">Time</td>
        </tr>

    </th:block>

</div>
</body>
</html>