<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Feed</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/instagram">Instagram menu</a>
            <a class="nav-item nav-link" href="/feed">Лента</a>
            <a class="nav-item nav-link" href="/oldSubs">Изменить текущую фильтрацию</a>
            <a class="nav-item nav-link" href="/filter">Добавить подписки в фильтрацию</a>
        </div>
    </div>
</nav></div>
<h1 th:text="${login}"></h1>
<th:block th:each="mediaItem : ${mediaList}">
    <!-<div th:switch="${mediaItem.getIsVideo()}">
    <div th:case="${false}">
        <h1 th:text="${mediaItem.getOwner().getUsername()}"></h1>
        <img th:src="${mediaItem.getDisplayUrl()}"/>
        <h2 th:text="${mediaItem.getCaption()}"></h2>
        <tr>
            <td th:text="${mediaItem.getLikeCount()}"></td>
            <td th:text="${#dates.format(mediaItem.getCreated(), 'dd-MMM-yyyy')}"></td>
        </tr>
        <!--Photo-->
    </div>
    <div th:case="${true}">
        <h1 th:text="${mediaItem.getOwner().getUsername()}"></h1>
        <video>
            <source th:src="${mediaItem.getVideoUrl()}">
        </video>
        <h2 th:text="${mediaItem.getCaption()}"></h2>
        <h3 th:text="${mediaItem.getLikeCount()}"></h3>
        <p th:text="${#dates.format(mediaItem.getCreated(), 'dd-MMM-yyyy')}"></p>
        <a th:href="${'https://www.instagram.com/p/' + mediaItem.getShortcode()}">Here is a link, if no video on display</a>
        <!--Video-->
    </div>
    </div>
</th:block>
</body>
</html>